@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(Fonts/Sansation/Sansation_Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Sansation Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Fonts/Sansation/Sansation_Light.ttf) format('truetype');
}
